[user]
	name = nqui
	email = 16074620+nqui@users.noreply.github.com
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
  autoSetupRemote = true
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
[pull]
  rebase = true
